/* Estado inicial de los botones */
 #btnPedirCarta,#btnDetenerJuego,#btnModoOscuro {
  display: none;
}
html{
   height: 100%;
}
body{
  height: 100%;
}

.gameContainer {
  height: 100%;
  overflow-x: hidden;
}
/* --------------ESTILOS MODO CLARO----------------- */
.estilosModoClaro{
  background-color: wheat;
}
.estilosModoClaro header{
  color:black ;
}
.estilosModoClaro .titulo{
  border-top: 10px solid black; 
}
.estilosModoClaro #btnNuevoJuego,#btnDetenerJuego{
  background-color: yellow;
  color: black;
}
.estilosModoClaro #btnModoOscuro,#btnPedirCarta{
  background-color: black;
  color: white;
}
.estilosModoClaro .playersTitle{
  color: black;
}
/* --------------ESTILOS MODO OSCURO----------------- */
.estilosModoOscuro{
  background-color: black;
  color: white;
  /* background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */
}
.estilosModoOscuro header{
  background-color: black;
  color:yellow ;
}
.estilosModoOscuro #btnNuevoJuego,#btnDetenerJuego{
  background-color: yellow;
  color: black;
}
.estilosModoOscuro #btnModoClaro,#btnPedirCarta{
  background-color: black;
  color: white;
}
.estilosModoOscuro .playersTitle{
  color: yellow;
}
/* <header class="titulo">
<h1 class="animate__animated animate__bounce title">BlackJack</h1>
</header> */
.titulo{
  margin: 0 auto; 
  padding: 15px; /* Espacio de relleno interno de 10 píxeles */
  color: yellow; /* Color del texto amarillo */
  text-align: center; /* Alineación del texto al centro */
  border-radius: 100px; /* Radio de borde de 100 píxeles para crear una forma redonda */
  border-top: 10px solid yellow; 
}


.carta {
  position: relative; /* Establece la posición relativa. Al utilizar las propiedades top, right,
  bottom o left, puedes desplazar el elemento en relación con su posición original. 
  Ej:Si estableces top: 10px, el elemento se desplazará hacia abajo desde su posición original en 10 píxeles.
  posicion original seria la posicion que tiene el elemento en la pagina antes de aplicarle cualquier estilo */
  width: 150px; /* Ancho del elemento de 150 píxeles */
  left: 100px; /* Desplazamiento horizontal de 100 píxeles desde su posición original */
  margin-left: -75px; /* Desplazamiento hacia la izquierda de 75 píxeles del margen izquierdo */
}

.row{
  margin-top: 10px;
}
#computadora-cartas, #jugador-cartas{
  height: 180px;
}



/* Estilos para pantallas de hasta 768px (dispositivos móviles) */
@media (max-width: 768px) {
  .titulo {
    width: 70%;
  }

  .carta {
    width: 100px;
    left: 50px;
    margin-left: -50px;
  }

  #computadora-cartas,
  #jugador-cartas {
    height: 120px;
  }

  .PruebaCrearDesdeJs {
    width: 80%;
  }
}

/* Estilos para pantallas de más de 768px (laptops) */
@media (min-width: 769px) {
  .titulo {
    width: 20%;
  }

  .carta {
    width: 150px;
    left: 100px;
    margin-left: -75px;
  }

  #computadora-cartas,
  #jugador-cartas {
    height: 180px;
  }

}
